/* Header Bar */
header {
    width: 100%;
    background: white;
    height: 95px;
    border-bottom: 2px solid #b9b6b6; 
}
h1 {
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: white;
    width:300px;
    height: 73px;
    text-align: center;
    padding-top: 13px;
    margin-left: 18%;
    font-weight: bold;
    font-size: 29px;
}
header ul li {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    color: #b3aeae;
    display: inline-flex;
    float: right;
    padding: 5%;
    border: #666666, solid;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    height: 30px;
    
}
.middle {border-left:solid 1px #dddddd;
        border-right: solid 1px #dddddd;
}
a:link{
   text-decoration: none;
   color: #cccccc;
}
a:visited{
    text-decoration: none;
    color: #cccccc;
 }
 
 /* Middle-Left Section*/

.row {
    display: flex;
    padding: 0 4px;
    margin: 0;
  }
 
div.col-md-7{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: white;
    margin-top: 3%;
    padding-left: 4%;
    width: 50%;
    margin-left: 11%;
    border: thin solid #dddddd;
    height: 50%;
    padding-right: 3%;
    margin-bottom: 10%;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-bottom:solid 2px #dddddd;
    padding-bottom:18px;
}

/* Middle-Right Section*/
div.col-md-5 {
    border: 3px solid #dddddd; 
    background-color: white;
    width: 18.9%;
    margin-left: 11%;
    margin-top: 3%;
    height: 160px;
}
h3 {
    font-size: 17px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10%;
    border-bottom:solid 1px #dddddd;;
}
div.icons img{
    width:50px;
    height:50px;
    float: center;
    margin-top: 8px;
}
/* About Me */
img.mypic {
    padding-top: 8px;
    height: 170px;
    float:left;
    padding-right:20px;
}
p.para {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #666666;
    word-spacing: 2px;
    line-height: 1.8em;
    float:top;
    
  
}

/* Portfolio Photo Grid */
div.table{
        float: left;
        display: block;
        width: 650px;
        height: fit-content;
        border: 2px solid #cccccc;
        position: absolute;
        background-color: white;
        margin-left: 60px;  
        margin-bottom:60px;    
}
 
div.col-sm-6 {
    flex: 100%;
    padding: 0 0px;
  }

figure img {
    margin-top: 8px;
    padding: 3%;
    float:left;
    opacity: .9;
    width: 100%;
    position: relative;
}
p.first{
    opacity: .7;
    margin-top: -10%;
    position: absolute;
    top: 32%;
    background: #4aaaa5;
    text-align: center;
    color: white;
    width: 94.5%;
    margin-left: 6.5px;
    
}
p.caption{
    opacity: .7;
    margin-top: -10%;
    position: absolute;
    top: 49%;
    background: #4aaaa5;
    text-align: center;
    color: white;
    width: 94.5%;
    margin-left: 6.5px;
    
}
p.other{
    background: #4aaaa5;
    text-align: center;
    color: white;
    opacity: .6;
    position: absolute;
    width:94%;
    top: 90%;
    margin-left:7px;

}
p.second{
    background: #4aaaa5;
    text-align: center;
    color: white;
    opacity: .6;
    position: absolute;
    width:94%;
    top: 60%;
    margin-left:7px;

}
p.last{
    background: #4aaaa5;
    text-align: center;
    color: white;
    opacity: .6;
    position: absolute;
    width:94%;
    top: 93%;
    margin-left:7px;
}


/* Contact Form */
form{
    color: #666666;
    border-color:  #dddddd;
}

button {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    padding: 8px 18px;
    margin-bottom: 10px;
}
textarea {
    font-family: inherit;
    font-size: x-small;
    line-height: unset;
    resize: none
  }

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #666666;
    text-align: center;
    height:40px;
    border-top: 5px solid  #4aaaa5;
}
.footer p{
    color:  #cccccc;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: small;
    word-spacing: .1px;

}